@using System.Globalization
@using Assistant.Domain.Itineraries
@using Assistant.Domain.Projects
@inject ProjectService<Itinerary, string?, Activity, ItineraryChange> ItineraryService;
@inject ISnackbar Snackbar;
@inject NavigationManager Navigation;
@inject ILogger<ItineraryDetails> Logger;
@inject IJSRuntime Js

<MudCard>
    <MudCardHeader>
        <h2>@Itinerary.Name</h2>
    </MudCardHeader>
    
        @if (Itinerary.Items.Any())
        {
            <MudCardContent Class="pl-0 pt-0">
                <ItineraryMap @ref="Map" Itinerary="Itinerary" />
                <MudTimeline Class="pt-4" TimelineOrientation="TimelineOrientation.Vertical" TimelinePosition="TimelinePosition.Start">
                    @foreach (var activity in Itinerary.Items)
                    {
                        <MudTimelineItem Size="Size.Small" Color="Color.Primary" Variant="Variant.Filled">
                            <MudCard>
                                <MudCardHeader Class="flex-column align-start">
                                    <h3>@activity.Name</h3>
                                    <p>@activity.Start.Time.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture) to @activity.End.Time.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)</p>
                                </MudCardHeader>
                                <MudCardContent Class="pt-0">
                                    <MudText Class="pb-2">@activity.Description</MudText>
                                    <MudGrid Class="flex-nowrap s-flex-wrap justify-space-between align-center">
                                        <MudItem Class="flex-1">
                                            <MudLink Href="@activity.Start.Place.Uri" Target="_blank">@activity.Start.Place.Name</MudLink>
                                            <p>@activity.Start.Place.Description</p>
                                        </MudItem>
                                        <MudItem Class="flex-0 s-d-none"><MudIcon Icon="@Icons.Material.Outlined.ArrowForward"/></MudItem>
                                        <MudItem Class="flex-1">
                                            <MudLink Href="@activity.End.Place.Uri" Target="_blank">@activity.End.Place.Name</MudLink>
                                            <p>@activity.End.Place.Description</p>
                                        </MudItem>
                                    </MudGrid>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                    }
                </MudTimeline>
            </MudCardContent>
        }
        else
        {
            <MudCardContent>
                <MudText>Prompt for trip suggestions to add activities to you itinerary.</MudText>
            </MudCardContent>
        }
</MudCard>

<MudCard Class="mt-4">
    <MudCardHeader>
        <h2>Suggested changes</h2>
    </MudCardHeader>
    <MudCardContent>
        @if (SuggestedChanges.Any())
        {
            <MudList T="Guid" @bind-SelectedValues="SelectedChangeIds" SelectionMode="SelectionMode.MultiSelection" CheckBoxColor="Color.Primary">
                @foreach (var option in SuggestedChanges)
                {
                    <MudListItem Value="option.Id" Text="@option.Change.Description(Itinerary)"/>
                }
            </MudList>
        }
        else
        {
            <MudText>Enter a prompt and ask for suggestions.</MudText>
        }
    </MudCardContent>
</MudCard>

<MudForm Class="mt-4" Spacing="2" @ref="@Form" Model="@Model">
    @if (WaitingForResponse)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
    }
    <MudTextField @bind-Value="Model.SuggestionPrompt" For="@(() => Model.SuggestionPrompt)"/>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async () => await SuggestChanges())" Disabled="WaitingForResponse">Suggest changes</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="@(async () => await ApplyChanges())" Disabled="WaitingForResponse || ChangesToApply.Count == 0">Apply changes</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(async () => await DeleteItinerary())" Disabled="WaitingForResponse">Delete itinerary</MudButton>
</MudForm>

@code {
    [Parameter]
    public required Itinerary Itinerary { get; set; }
    
    private ItineraryMap? Map { get; set; }

    private bool WaitingForResponse { get; set; } = false;

    private List<UniqueItineraryChange> SuggestedChanges { get; set; } = new();

    private IReadOnlyCollection<Guid> SelectedChangeIds { get; set; } = [];
    
    private IReadOnlyList<ItineraryChange> ChangesToApply => SuggestedChanges.Where(c => SelectedChangeIds.Contains(c.Id)).Select(c => c.Change).ToList();
    
    private MudForm Form { get; set; } = new();

    private ChangeItineraryFormModel Model { get; } = new();

    private class ChangeItineraryFormModel
    {
        [Label("Suggest change to itinerary")] public string SuggestionPrompt { get; set; } = "";
    }

    private record UniqueItineraryChange(ItineraryChange Change)
    {
        public Guid Id { get; } = Guid.NewGuid();
    }

    private async Task SuggestChanges()
    {
        await Form.Validate();

        if (Form.IsValid)
        {
            WaitingForResponse = true;
            var result = await ItineraryService.GetChangeSuggestions(Itinerary.Id, Model.SuggestionPrompt, CancellationToken.None);
            WaitingForResponse = false;
            if (result.IsSuccess)
            {
                SuggestedChanges = result.Value.Select(c => new UniqueItineraryChange(c)).ToList();
                SelectedChangeIds = SuggestedChanges.Select(c => c.Id).ToList();
            }
            else Snackbar.Add(string.Join("\n", result.Reasons), Severity.Error);
        }
    }
    
    private async Task ApplyChanges()
    {
        WaitingForResponse = true;
        var result = await ItineraryService.ApplyChanges(Itinerary.Id, ChangesToApply, CancellationToken.None);
        WaitingForResponse = false;
        if (result.IsFailed)
        {
            Snackbar.Add(string.Join("\n", result.Reasons), Severity.Error);
        }
        else
        {
            Snackbar.Add("Successfully applied changes!", Severity.Success);
            SuggestedChanges.RemoveAll(c => SelectedChangeIds.Contains(c.Id));
            SelectedChangeIds = [];
            Model.SuggestionPrompt = "";
            Itinerary = result.Value;
            Map?.DrawMap();
        }
    }
    
    private async Task DeleteItinerary()
    {
        WaitingForResponse = true;
        var result = await ItineraryService.Delete(Itinerary.Id, CancellationToken.None);
        WaitingForResponse = false;
        if (result.IsFailed)
        {
            Snackbar.Add(string.Join("\n", result.Reasons), Severity.Error);
        }
        else
        {
            Navigation.NavigateTo("/Itineraries");
            Snackbar.Add("Successfully deleted itinerary!", Severity.Success);
        }
    }
}